body{
  margin: 0;
 height: 3000px;
 background-color: #02002b;
 background-size: cover;
}

.container {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  overflow: hidden;
}

.cover {
 width: 100%;
 height: 100%;
 position: absolute;
 background-position: top;
 background-size: cover;
 transition: all 0.3s;
}

.img1 {
  z-index: 1;
  background-image: url("back.png");
}

.img2 {
  z-index: 2;
  background-image: url("mountain1.png");
}
.img3 {
  z-index: 3;
  background-image: url("mountain2.png");
}
.img4 {
  z-index: 4;
  background-image: url("mountain3.png");
}
.img5 {
  z-index: 5;
  background-image: url("mountain4.png");
}
.img6 {
  z-index: 6;
  background-image: url("mountain5.png");
}
.img7 {
  z-index: 7;
  background-image: url("mountain6.png");
}

.kk {
  z-index: 8;
  margin-top: -100px;
  background-color: #02002b;
}
